@using DataLayer.Models
@using Form113.Helper
@model SousCategories

<div class="panel">
    <div class="panel-heading">@Model.Nom</div>
    <div class="panel-body">
        <div id="CategorieImg">@Html.ImageHelp(Model.Photo)</div>
        @Html.ActionLink("Voir Produits", "IndexSousCategories", "Catalogue", new { id = Model.IdCategorie })
    </div>




</div>
