@model List<int>


<!DOCTYPE html>
@section scripts {
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
}
@section styles {
    <link href="~/Scripts/Catalog/Image2.css" rel="stylesheet" />

}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexCategories</title>
</head>

<body>
    <div>
        <ul class="rig columns-3">
            @foreach (var cat in @Model)
            {
                @*<div class="col-lg-4">
                        @Html.Action("Categorie", "Categorie", new { id = cat })
                    </div>*@
                
                    <li>
                        <a href="/Catalogue/IndexSousCategories/@cat" class="fill-div">
                            <div class="Product">
                                @Html.Action("Categorie", "Categorie", new { id = cat })
                            </div>
                        </a>
</li>
                
            }
        </ul>
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading">Toutes les catégories de produits</div>
                <div class="panel-body">
                    @Html.ActionLink("Details", "ProduitsCategorie/", "Catalogue")
                </div>
            </div>
        </div>
    </div>
</body>
</html>
