@using DataLayer.Models
@using Form113.Helper
@model Categories


<div class="panel">
    <h3>@Model.Libelle</h3>
    <div class="panel-body">

        <div id="CategorieImg">@Html.ImageHelp(Model.Photo)</div>
        @Html.ActionLink("Details", "IndexSousCategories/" + Model.IdCategorie, "Catalogue")
    </div>
</div>
