@using DataLayer.Models
@using Form113.Helper
@model Categories


<div class="panel">
    <h3>@Model.Libelle</h3>
    <div class="panel-body">
        <a href="/Catalogue/IndexSousCategories/@Model.IdCategorie" class="fill-div">
            <div id="CategorieImg">@Html.ImageHelp(Model.Photo)</div>
        </a>
    </div>
</div>
