@using Form113.Helper
@model Form113.Areas.Admin.Models.newsLetterViewModel

@{
    ViewBag.Title = "NewsLetter";
}

<h1>Ecriture De la news letter : </h1>

    @using (@Html.BeginForm())
    {
       
        <div class="form-group">
            <p>Titre : </p>
            <input type="text" name="Title" style="width:50%" />
            <p>Ecrire la description de la news letter ici :</p>
            <input type="text" name="Description" style="width:100%" />
        </div>
        <div class="form-group">
            
                <input type="submit" value="Save" class="btn btn-default" />
        
        </div>
    }

