@model List<int>

<div class="panel panel-danger">
    <div class="panel-heading">
        <strong>Nouveautés !</strong>
    </div>
    <div class="panel-body">
            @foreach (var element in @Model)
            {
                @Html.Action("MiniatProduit", "Produit", new { id = element })
            }
    </div>
</div>
