@model int

<div class="panel panel-danger">
    <div class="panel-heading">
        <strong>Nombre d'articles en vente sur BestArts</strong>
    </div>
    <div class="panel-body">
        <ul>
            @Model
        </ul>
    </div>
</div>
