#using DataLayer.Models
@model List<Produits>
           
    <div class="panel panel-danger">
    <div class="panel-heading">
        <strong>Nouveautées !</strong>
    </div>
    <div class="panel-body">
        <ul>
            @foreach (var element in @Model)
            {
                <li></li>
            }

        </ul>


    </div>

</div>
