@using Form113.Helper
@model Form113.Models.ResultViewModels
@{
    ViewBag.Title = "Compare";
}

<h2>Comparaison de produits</h2>
<div class="row">
    @using (Html.MyFieldsetHelper("Produit Comparer"))
    {
        if (Model.ListeAComparer != null)
        {
            foreach (var item in Model.ListeAComparer)
            {
                <div class="col-sm-4">
                    @Html.Action("CompareProduits", "Produit", new { id = item })
                </div>
            }
        }
    }
</div>
