@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<div class="row">
    <p>Votre commande est bien prise en compte.</p>
</div>

@section scripts {
    <script src="~/Scripts/Produit/js/ValiderCommande.js"></script>
}